DEBUG=True
SECRET_KEY=django-insecure
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
DATABASE_URL=sqlite:///db.sqlite3
BREVO_API_KEY=your_api_key_here
DEFAULT_FROM_EMAIL=Moneta Bot <projetomoneta@email.com>
SITE_URL=http://localhost:8000
EMAIL_BACKEND=anymail.backends.brevo.EmailBackend