DEBUG=False
SECRET_KEY=django-insecure-4nmbsu$7fhwf5kfit1(sieeyxvz21wa$)_vb=f2=-6a_aeu+xm
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

POSTGRES_DB=django_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=securepassword123
DB_HOST=db
DB_PORT=5432